.jumbotron {
  padding-top: 6rem;
  background-color: #ffc812;
}

#layanan {
  background-color: #1a2833;
}
section {
  padding-top: 5rem;
}
.card-body {
  background-color: #abb8c3;
}
#mitra-kuliku {
  background-color: #ffc812;
}
